# Verilog simulation files
**/*.vcd
**/*.vvp

# Python virtual environment
.venv
.env
__pycache__/
*.py[cod]
*$py.class

# OS specific files
.DS_Store
Thumbs.db
*.tmp
*.temp

# Editor files
.vscode/

# Log files
*.log

# Other files that are not to be tracked
*.zip
*.txt